{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Parking Pal</title>
  <meta name="description" content="Personal Landing Page">
  <meta name="author" content="Jacob Waldrip and Eric Quach">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- JQuery ------------------------------------------------ -->
  <script type="text/javascript" src="{{ STATIC_URL }} /static/js/jquery-3.4.0.js"></script> 

  <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/create_todo_modal.css' %}">
  <link rel="stylesheet" href="{% static 'css/login_modal.css' %}">

  <!-- JS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="{% static 'js/create_todo_modal.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/login_modal.js' %}"></script>

</head>

<body style="background-color: #f9fafc;">

  <!-- Navbar ---------------------------------------------- -->
    <div class="nav">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
        <div class="nav-title">
          Parking Pal
        </div>
      </div>
    </div>

  <!-- Content that child html files supply-->
  {% block content %}
  {% endblock %}

</body>
</html>
